@page
@using FplBot.Discord.Data
@model FplBot.WebApi.Pages.Admin.Discord.Subscriptions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (TempData.ContainsKey("msg"))
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        @TempData["msg"]
    </div>
}

<div class="col-12">
    <h1>Subs</h1>
    <ul>
        @foreach (var sub in Model.Subs)
        {
            <li class="list-group-item d-flex align-items-baseline">
                <div>
                    @sub.GuildId - @sub.ChannelId - @ToFormatted(sub.Subscriptions)
                </div>

                <div class="ml-auto">
                    <form asp-page-handler="DeleteSub" method="post">
                        <input class="btn btn-danger btn-block" type="submit" name="delete-sub" value="Delete Sub">
                        <input type="hidden" name="guildId" value="@sub.GuildId">
                        <input type="hidden" name="channelId" value="@sub.ChannelId">
                    </form>
                </div>
            </li>
        }
    </ul>
</div>
<div class="col-12">
<h1>All keys</h1>
<ul>
    @foreach (var key in Model.AllKeys)
    {
        <li class="list-group-item d-flex align-items-baseline">
            <div>
                @key
            </div>

            <div class="ml-auto">
            <form asp-page-handler="DeleteKey" method="post">
                <input class="btn btn-danger btn-block" type="submit" name="delete-key" value="Delete key">
                <input type="hidden" name="key" value="@key">
            </form>
            </div>
        </li>
    }
</ul>
</div>
@functions
{
    private static string ToFormatted(IEnumerable<EventSubscription> subSubscriptions)
    {
        return string.Join(",", subSubscriptions);
    }
}
