@page
@model FplBot.WebApi.Pages.Admin.Index

@{
    ViewData["Title"] = "Admin";
    
}

<div class="col-12">
    <h1>Admin page</h1>
    <p>Logged in as @User.Identity.Name from @User.Claims.FirstOrDefault(c => c.Type == "urn:slack:team_name")?.Value</p>
    <p><a href="@Url.Action("Logout","Account")">Log out</a></p>
    <p><a href="@Url.PageLink("Broadcast")">Gå til @Url.Page("Broadcast")</a></p>
    
    
    @if (TempData.ContainsKey("msg"))
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            @TempData["msg"]    
        </div>
    }
    
    <h3>Search/indexing info</h3>
    <p>
        Current league indexing bookmark: @Model.CurrentLeagueIndexingBookmark<br/>
        Current entry indexing bookmark: @Model.CurrentEntryIndexingBookmark
    </p>

    <h3>Workspaces that have installed fplbot (@Model.Workspaces.Count)</h3>


        @if (Model.Workspaces.Any())
        {
            <table class="table">
                <thead>
                <th>Team</th>
                <th>LeagueId</th>
                <th>Channel</th>
                <th>Subs</th>
                <th></th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                @foreach (var ws in Model.Workspaces)
                {
                    <tr>
                        <td>@ws.TeamName</td>
                        <td><a href="https://fantasy.premierleague.com/leagues/@ws.FplbotLeagueId/standings/c" target="_blank">@ws.FplbotLeagueId</a></td>
                        <td>@ws.FplBotSlackChannel</td>
                        <td>@string.Join(",",ws.Subscriptions) (@ws.Subscriptions.Count())</td>
                        <td><a href="@Url.PageLink("TeamDetails/Show", values: new { teamId = ws.TeamId})">Details</a></td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>No installs :/</p>
        }

    
</div>
