@page "/admin/teamdetails/{teamId}/edit"
@using Fpl.Client.Models
@using Fpl.Data
@using Fpl.Data.Repositories
@using FplBot.Core.Abstractions
@model FplBot.WebApi.Pages.Admin.TeamDetails.Edit

@if (TempData.ContainsKey("msg"))
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        @TempData["msg"]    
    </div>
}

<div class="col-12">
    <h1>Edit details</h1>
    <p>
        <a href="@Url.Page("Show", values: new {teamId = Model.Team.TeamId})">Back to view details</a>
    </p>
    <p>
        <a href="@Url.Page("/Admin/Index")">Go to Home</a>
    </p>

    <form method="post">
        <table class="table">
            <tbody>
            <tr>
                <td class="font-weight-bolder">Team</td><td>@Model.Team.TeamName</td>
            </tr>
            <tr>
                <td class="font-weight-bolder">TeamId</td><td>@Model.Team.TeamId</td>
            </tr>
            <tr>
                <td class="font-weight-bolder">LeagueId</td>
                <td>
                    <input class="form-control" type="text" name="leagueId" value="@Model.Team.FplbotLeagueId"/>
                     <i>(@Model.LeagueName)</i>
                </td>
            </tr>
            <tr>
                <td class="font-weight-bolder">Channel</td>
                <td>
                    <input class="form-control" type="text" name="channel" value="@Model.Team.FplBotSlackChannel"/>
                </td>
            </tr>
            <tr>
                <td class="font-weight-bolder">Subscriptions</td>
                <td>
                    <ul class="list-group">
                        @foreach (var sub in Enum.GetNames(typeof(EventSubscription)))
                        {
                            var isOn = Model.Team.Subscriptions.Any(s => s.ToString() == sub);
                            var active = isOn ? "active" : "";
                            <li class="list-group-item @active">
                                  <div class="form-check">
                                      <input type="checkbox" class="form-check-input" name="subscriptions" id="subscriptions-@sub" checked="@isOn" value="@sub">
                                      <label class="form-check-label" for="subscriptions-@sub">@sub</label>
                                  </div>
                            </li>
                        }
                    </ul>
                </td>
            </tr>            
            <tr>
                <td colspan="2">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="teamId" value="@Model.Team.TeamId"/>
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>