@page "/admin/teamdetails/{teamId}"
@model FplBot.WebApi.Pages.Admin.TeamDetails.TeamDetailsIndex

<div class="col-12">
    <h1>Details</h1>
       <p><a href="@Url.Page("/Admin/Index")">Go back</a></p>
    
        @if (TempData.ContainsKey("msg"))
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                @TempData["msg"]    
            </div>
        }
    
    @if (Model.Team != null)
    {
        <p><a href="@Url.PageLink("/Admin/TeamDetails/Edit", values: new { teamId = Model.Team.TeamId})">Edit</a></p>
        <table class="table">
            <tbody>
            <tr>
                <td class="font-weight-bolder">Team</td><td>@Model.Team.TeamName</td>
            </tr>
            <tr>
                <td class="font-weight-bolder">TeamId</td><td>@Model.Team.TeamId</td>
            </tr>
            <tr>
                <td class="font-weight-bolder">Channel</td><td>@Model.Team.FplBotSlackChannel  @(!Model.ChannelStatus.HasValue ? "N/A" : Model.ChannelStatus.Value  ? "✅" : "❌")</td>
            </tr>
            <tr>
                <td class="font-weight-bolder">LeagueId</td>
                <td>
                    <a href="https://fantasy.premierleague.com/leagues/@Model.Team.FplbotLeagueId/standings/c" target="_blank">
                        @Model.Team.FplbotLeagueId
                    </a>
                    
                    <i>(@Model.League.Properties.Name)</i>
                </td>
            </tr>
            <tr>
                <td class="font-weight-bolder">State</td><td><pre>@Model.GameweekLeagueContext</pre></td>
            </tr>
            <tr>
                <td class="font-weight-bolder">Token</td><td><code>@Model.Team.AccessToken</code></td>
            </tr>
            <tr>
                    <td class="font-weight-bolder">Subscriptions</td>
                    <td>
                        @string.Join(",",Model.Team.Subscriptions)
                    </td>
            </tr>  
          
            <tr>
                <td colspan="2">      
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="teamId" value="@Model.Team.TeamId"/>
                        <input type="submit" value="Uninstall" class="btn btn-danger"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    }
    
   
</div>
